<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kim">
    <title>게시판 페이지</title>

    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/tip-detail.css" rel="stylesheet">

</head>
<body>
<header id="header" th:replace="header :: header">
    헤더 삽입부
    <hr>
</header>

<main class="container">
    <div class="tip-detail" th:object="${tip}">


        <div class="title">
            <span th:text="${tip.title}" th:unless="${tip.deleted}"></span>
            <span th:if="${tip.deleted}">이미 삭제된 게시글 입니다.</span>
        </div>

        <div class="tip-top-info">
            <div class="nickname" th:unless="${tip.deleted}">
                <span>작성자 : </span>
                <span th:text="${tip.nickname}"></span>
            </div>
            <div class="nickname" th:unless="${tip.deleted}">
                <span>작성일 : </span>
                <span th:text="${#temporals.format(tip.createdAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
            </div>
        </div>


        <div class="content" th:unless="${tip.deleted}">
            <span th:utext="${tip.content}"></span>
        </div>

        <div class="btn-menu"></div>
            <button type="button" id="update" th:class="${!boardAuth ? 'hidden-class' : ''}" th:attr="onclick='window.location=\'/board/' + ${tip.tipId} + '/form\''">수정</button>
            <button type="button" id="delete" th:class="${!boardAuth ? 'hidden-class' : ''}" th:attr="onclick='window.location=\'/board/' + ${tip.tipId} + '/delete\''">삭제</button>
        </div>
    </div>
    <div class="comment">
        <form th:action="@{/board/{tipId}/comment(tipId=${tipId})}" method="post">
            <div class="comment-menu">
                <div class="comment-text">
                    <input class="comment-input" type="text" name="content" placeholder="댓글 입력">
                </div>
                <div class="comment-btn">
                    <button class="btn" type="submit">작성</button>
                </div>
            </div>
        </form>
        <div class="comment-read" th:each="comment : ${comments}">
            <div class="comment-nickname" th:text="${comment.nickname}"></div>
            <div class="comment-text" th:text="${comment.comment}"></div>
        </div>


    </div>


</main>


</body>
</html>