/* 전체 테이블 스타일링 */

.concert-table {
    width: 100%;
    border-collapse: collapse;
    boarder: 1px solid #ddd;
    margin-top: 20px;
}

.concert-table th, .concert-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}


.concert-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* 우측 간격 조절 */
}

.content {
    display: flex;
    align-items: center;
}

.concert-table th.concert-name,
.concert-table th.concert-artist,
.concert-table th.concert-location,
.concert-table th.concert-reservation,
.concert-table th.concert-dDay,
.concert-table th.concert-link {
    background-color: #6B95BB;
    color: white;
    font-family: 'GmarketSansMedium', sans-serif;
}

.concert-table td.concert-name,
.concert-table td.concert-artist,
.concert-table td.concert-location,
.concert-table td.concert-reservation,
.concert-table td.concert-dDay,
.concert-table td.concert-link {
    font-family: 'GmarketSansMedium', sans-serif;
}




