<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Header Template</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
<header class="custom-header">
    <div class="container">
        <div class="header">
            <div class="header-button">
                <a id="home" href="/">
                    <img src="/image/logo.png" class="logo_img">
                </a>
<!--                <a role="button" class="button btnPush border-2 border-white" id="notice">공지사항</a>-->
                <a role="button" class="button btnPush border-2 border-white" id="tip-board">팁 게시판</a>
                <a role="button" class="button btnPush border-2 border-white" id="free-board">자유게시판</a>
                <a role="button" class="button btnPush border-2 border-white" id="practice">예매연습</a>
            </div>


            <div class="text-end">
                <a role="button" id="login" class="button btnPush border-white">로그인</a>
                <a role="button" id="join" class="button btnPush border-white">회원가입</a>
                <a role="button" id="myPage" class="button btnPush border-white">마이페이지</a>
                <a role="button" id="logout" class="button btnPush border-white">로그아웃</a>
            </div>
        </div>
    </div>

</header>

</body>
</html>