<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Kim">
    <title>home</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/css/calendar.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
</head>
<body>
<header id="header">
    헤더 삽입부
    <hr>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<main>
    <div class="top-menu">
        <div class="recent-concert">
            <div class="concert-title-table">
                <img class="recent-icon" src="https://hk-ticketing-s3-1.s3.ap-northeast-2.amazonaws.com/concert-icon.png">
                <span class="recent-title">신규 콘서트</span>
            </div>
            <div class="concert-list">
                <ul class="recent-concert-images">
                    <span th:each="concert : ${concertList}" class="image-box">
                        <img class="concert-image" th:src="${concert.image}">
                        <div class="recent-concert-info">
                            <a class="concert-name" th:text="${concert.name}" th:href="@{/popup/{concertId}(concertId=${concert.concertId})}" th:target="_blank"></a>
                            <time class="concert-time" th:text="${#temporals.format(concert.startDay, 'yyyy-MM-dd')}"></time>
                        </div>
                    </span>

                </ul>
            </div>
        </div>
    </div>
    <thead>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <link href="/css/home.css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
    <script src='/script/calendar-script.js'></script>
    </thead>
    <tbody>
    <div id='wrap'>
        <div id='calendar-wrap'>
            <div id='calendar1'>
            </div>
        </div>
    </div>
    </tbody>
</main>

<!--<footer id="footer">-->
<!--    <hr>-->
<!--    푸터 삽입부-->
<!--</footer>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script></body>
</html>