<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.ticketing.mapper.TipMapper">
    <select id="findCnt" resultType="Integer">
        SELECT COUNT(*) FROM tip_board
    </select>

    <select id="findAll">
        SELECT
            tb.tip_id,
            m.nickname,
            tb.title,
            tb.content,
            tb.created_at,
            tb.deleted FROM tip_board tb
                                LEFT JOIN `member` m
                                          ON tb .user_id  = m.user_id
        ORDER BY created_at DESC
            LIMIT #{pageNumber}, 20
    </select>

    <select id="findAllByTitle">
        SELECT
            tb.tip_id,
            m.nickname,
            tb.title,
            tb.content,
            tb.created_at,
            tb.deleted FROM tip_board tb
                                LEFT JOIN `member` m
                                          ON tb .user_id  = m.user_id
        WHERE tb.title LIKE CONCAT('%', #{searchValue}, '%')
        ORDER BY created_at DESC
            LIMIT #{pageNumber}, 20
    </select>

    <select id="findAllByNickname">
        SELECT
            tb.tip_id,
            m.nickname,
            tb.title,
            tb.content,
            tb.created_at,
            tb.deleted FROM tip_board tb
                                LEFT JOIN `member` m
                                          ON tb .user_id  = m.user_id
        WHERE m.nickname LIKE CONCAT('%', #{searchValue}, '%')
        ORDER BY created_at DESC
            LIMIT #{pageNumber}, 20
    </select>

    <insert id="upload">
        INSERT INTO tip_board
        (user_id, title, content, created_at, deleted)
        VALUES
            (
             #{tipDto.userId},
             #{tipDto.title},
             #{tipDto.content},
             now(),
             0
             )
    </insert>

    <select id="findSelectOne">
        SELECT
            tb.tip_id,
            m.nickname,
            tb.title,
            tb.content,
            tb.created_at,
            tb.deleted,
            tb.image_url
        FROM tip_board tb
            LEFT JOIN `member` m ON tb.user_id = m.user_id
        WHERE tb.tip_id = #{tipId}
    </select>

</mapper>
